<div class="container mt-2">
    <div class="row mt-3">
        
        <form action="/">
        <div class="row">
            <div class="col-md-6">
            <img src="/images/banner.jpg" alt="" width="100%" class="shadow">
        </div>
            <div class="col-md-6">
                <label for="formFile" class="form-label">Sub Banner Image</label>
                <input class="form-control" type="file" id="formFile" name="mainBanner">
            </div>

            <img src="/images/banner2.jpg" alt=""  width="50%" class="shadow mt-3">
            <div class="mb-3 mt-4">
                <label for="formFile" class="form-label">Sub Banner Image</label>
                <input class="form-control" type="file" id="formFile" name="mainBanner">
            </div>
        </div>
        </form>
    </div>
</div>