<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

<section class="bg-light pt-4" style="width: 100%; height: 90vh; ">

    <div class="container px-3">
        <div class="row gx-4">
            <div class="col-md-3 ">
                <div class="p-3  bg-white  dash-top-div d-flex" style="height: 100px; width: 100%;">
                    <div class="icon-dash  d-flex align-items-center justify-content-center fs-3 text-white icon-dash"
                        style="width: 30%;height: 100%; background-color: #57b05b;">
                        <i class="fa-solid fa-shop"></i>
                    </div>
                    <div class="ps-2">
                        <h5>Revenue</h5>
                        <h5 class="">₹<span id="count1">{{revenue}}</span></h5>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="p-3  bg-white  dash-top-div d-flex" style="height: 100px;">
                    <div class="icon-dash  d-flex align-items-center justify-content-center fs-3 text-white icon-dash"
                        style="width: 30%;height: 100%; background-color: #318aec;">
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <div class="ps-2">
                        <h5>Users</h5>
                        <h4 id="count2" class="">{{userCount}}</h4>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-3  bg-white  dash-top-div   d-flex" style="height: 100px;">
                    <div class="icon-dash  d-flex align-items-center justify-content-center fs-3 text-white icon-dash"
                        style="width: 30%;height: 100%; background-color: #e93a75;">
                        <i class="fa-solid fa-truck-fast"></i>
                    </div>
                    <div class="ps-2">
                        <h5>Orders</h5>
                        <h4 id="count3" class="">{{ordersCount}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-3  bg-white  dash-top-div  d-flex" style="height: 100px;">
                    <div class="icon-dash bg-danger  d-flex align-items-center justify-content-center fs-3 text-white icon-dash"
                        style="width: 30%;height: 100%; background-color:;">
                        <i class="fa-solid fa-trash"></i>
                    </div>
                    <div class="ps-2">
                        <h5>Cancelled Orders</h5>
                        <h4 id="count4" class="">{{cancelCount}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 gx-1  d-flex justify-content-center">

            <div class="col-lg-4  bg-lg-white pt-4 dash-py pe-5" style="max-width: 80vw;">
                <div class="container " style="max-width: 80vw;">
                    <div class="chart-container  " style="max-width: 80vw;">
                    <canvas class="px-sm-4 pe-3 px-lg-0" id="myChart" style="max-width: 80vw;"></canvas>
                </div>
                </div>
            </div>

            <div class="col-lg-8 ps-4 mt-lg-3 mt-5">
                <div class=" dash-py ">
                    <div id="chartContainer">
                    <canvas id="barGraph"></canvas>
                </div>
                </div>
            </div>
            <style>
                #chartContainer {
                    width: 100%;
                    height: auto;
                }
            
                #barGraph {
                    width: 100%;
                    height: 100%;
                }
            </style>
            <script>
                // Data
                
                $.ajax({
                    url:'/admin/getChart-data',
                    method:'GET',
                    success:(reve)=>{
                        console.log(reve)
                        let Data=[]
                        let Month=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
                        reve.forEach(value=>{

                            Data.push({'label':Month[value._id-1],'value':value.revenue})
                        })
                         let rev = parseInt(document.getElementById('count1').innerHTML)
                         
                const barData = Data;

                // Chart creation
                const chartCanvas = document.getElementById('barGraph');

                new Chart(chartCanvas, {
                    type: 'bar',
                    data: {
                        labels: barData.map(data => data.label),
                        datasets: [{
                            label: 'Revenue',
                            data: barData.map(data => data.value),
                            backgroundColor: '#57b05b'
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
                    }
                    
                })

               

            </script>


        </div>
    </div>

</section>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        function counter(id, start, end, duration) {
            let obj = document.getElementById(id),
                current = start,
                range = end - start,
                increment = end > start ? 1 : -1,
                step = Math.abs(Math.floor(duration / range)),
                timer = setInterval(() => {
                    current += increment;
                    obj.textContent = current;
                    if (current == end) {
                        clearInterval(timer);
                    }
                }, step);
        }
        let rev = parseInt(document.getElementById('count1').innerHTML)
        let user = parseInt(document.getElementById('count2').innerHTML)
        let ord = parseInt(document.getElementById('count3').innerHTML)
        let canc = parseInt(document.getElementById('count4').innerHTML)
        counter("count1", rev - 400, rev, 1);
        counter("count2", 0, user, 2500);
        if (ord > 0){
           counter("count3", 0, ord, 1000); 
        }
        
        if (canc > 0) {
            counter("count4", 0, canc, 1000);
        }

    });


    // Data for the chart
    let canc = parseInt(document.getElementById('count4').innerHTML)
    let ord = parseInt(document.getElementById('count3').innerHTML) - canc

    var data = {
        labels: ["Cancelled Orders", "Successful Orders"],
        datasets: [{
            data: [canc, ord],
            backgroundColor: ["#dc3545", "#36A2EB", "#FFCE56"]
        }]
    };

    // Options for the chart
    var options = {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
            position: 'bottom',
            labels: {
                fontColor: 'black',
                fontSize: 16
            }
        }
    };

    // Get the canvas element
    var ctx = document.getElementById("myChart").getContext("2d");

    // Create the chart
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: data,
        options: options
    });

</script>
