<br><br>
<div class="container">
    <div class="row">
        {{#each product}}
        <div class="col-6 col-md-4 col-lg-2">
            <div class="profile-card-2"
                style="background-image:linear-gradient(to top, rgba(245, 246, 252, 0.16), rgba(0, 0, 0, 0.73)), url('/product-images/072eee7a-5d84-407d-8ad2-994f1912d8cb.jpg');background-size: cover;">
                <img src="">
                <div class="profile-name">Product</div>
                <div class="profile-username">Brand | Size : M</div>
                <div class="profile-icons"><a href=""></a><a href=""><i class="fa-solid fa-trash text-danger"></i></a>
                </div>
                <div class="add-to-cart-btn"><a href="" class="btn btn-warning">Add to cart</a></div>
            </div>
        </div>
        {{/each}}
    </div>

   